

{% extends 'nilam_admin/dashboard.html' %}

{% load staticfiles %}

{% block content %}











     
  <div class="container emp-profile mt-4 mb-4">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{% static 'new_home_static/images/pro_pic.jpg' %}" style="max-width:100%; height:180px;" alt=""/>
                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{billing.user}}
                            </h5>
                           
                            <p class="proile-rating">Total auction items : <span>{{all_product}}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Address</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <!-- <input type="submit" class="btn btn-info" name="btnAddMore" value="Edit Profile"/> -->
                <!-- <a href="{{billing.get_absolute_url}}" class="btn btn-info">Edit Profile</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.user}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.user.first_name}} {{billing.user.last_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.phone}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-6">
                                            <label>NID</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{billing.nid}}</p>
                                        </div>
                                    </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <label></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Web Developer and Designer</p>
                                    </div>
                                </div> -->
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.bil_address}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>City</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.city}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Zip</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{billing.bil_zip}}</p>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div> -->
                                <!-- </div> -->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
        <!-- /.container-fluid -->












        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
          </a>
        


{% endblock %}








