{% load crispy_forms_tags %}
<div class="card">
        <div class="card-header bg-custom-dark text-center text-light">
            <h4 class="text-center ">
                Contact
            </h4>
        </div>

        <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
        </div>
    </div>