{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Nilam | Contact{%endblock %}

{%block style %}

<style>
  #error_1_id_title,#error_1_id_email,#error_1_id_description{
    display:none;
  }

</style>
{% endblock%}


{% block content %}





<div class="hero-wrap hero-bread" style="background-image: url({% static 'new_home_static/images/contact.jpg' %});">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            {% include 'partial/_alert.html' %}
            <p class="breadcrumbs"><span class="mr-2"><a href="#"></a></span> <span>Contact</span></p>
          <h1 class="mb-0 bread">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>




  

  <section class="ftco-section contact-section bg-light">
    <div class="container">

     
    
      <div class="row block-9">
        <div class="col-md-12 order-md-last d-flex">


          <form action="#" class="bg-dark text-white p-5 contact-form" method="POST">
           {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-dark">Submit</button>


          </form>
        
        </div>

        <div class="col-md-6 d-flex">
            
        </div>
      </div>
    </div>
  </section> 



{% endblock %}