{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load mathfilters %}


{% block content %}


<div class="hero-wrap hero-bread" style="background-image: url('{{object.image.url}}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            {% if days_left > 0   %}


            
            <p class="breadcrumbs mb-2"><span class="mr-2"><a class="btn btn-danger text-light" href="#"><span class="text-light">{{object.days_left}}  days <span class="text-white" id="demo"></span>  <i class="fas fa-stopwatch"></i></span></a></span> </p>
            {% endif %}
          <h1 class="mb-0 bread bg-dark text-white">{{object.title}}</h1>

          {% if days_left > 0 %}
          <div class="card ">
              <div class="card-header text-light text-center">
                  <h3>{{a}}</h3>
                  {% include '_alert.html' %}
              </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>





  <section class="ftco-section">
      <div class="container-fluid">
          <div class="row">


                {% if days_left > 0  %}

              <div class="col-lg-6 mb-5 ftco-animate">
                  <a href="{{object.image.url}}" class="image-popup prod-img-bg"><img src="{{object.image.url}}" class="img-fluid" alt="Colorlib Template"></a>
              </div>
              <div class="col-lg-6 product-details pl-md-5 ftco-animate text-center">
                  <h3 class=""><b>{{object.title}}</b></h3>
              
                  <p class="price"><span>Starter Item price: &#2547;{{object.stating_price}}

                    <abbr title="This is current price. When you will bid it will add with this price"><i class="fas fa-comment"></i></abbr>
                  </span></p>
                      <div class="row mt-4">
                          
                          <div class="w-100"></div>



                  
                          {% if object.user == user %}

                          {% else %}
                          <span style="width:100%;"  class="mb-1"><a class="text-dark" href="">Place Bid 
        
                                  
        
                              
                            <i class="fa fa-funnel-dollar"></i></a>
                          
                              <form id="bid-post" action="" method="POST"  >
                                  {% csrf_token %}
                                  {{form|crispy}}
                                 
                                      <input style="width:50%;"  class=" btn btn-outline-dark" type="submit" value="bid">
                                  </form>
                          </span>
        
                          {% endif %}




                <div class="w-100"></div>
                <div class="col-md-12">

                        {% if object_price.current_price__max is None %}


                    <p class="bg-danger text-white text-center p-4" style="color: #000;">NO Bid Yet</p>
                    {% else %}
                   
                    <h4 style="color:#000;" class="bg-info text-white text-center">On going bid: &#2547;{{object_price.current_price__max}}</h4>

                    {% endif %}



                </div>
            </div>


              </div>




              {% else %}

              <div class="col-md-12">

              <div class="card text-center  text-light">
                  <div class="card-header bg-danger">
                      <h1 class="text-white" >Bid already Ended</h1>
                  </div>
    
                  {% if request.user == current_price_user.user %}
    <hr>
                  <div class="card-body bg-success">
                    <h4 class="text-white" ><!--{{current_price_user.user}}--> You win with &#2547;{{current_price.current_price}} bid</h4>
                    <hr>
                    <h4 class="text-white" >Starting price: &#2547;{{object.stating_price}}</h4>
                    <h4 class="text-white" >Your Total Bid was:&#2547;{{ current_price.current_price|sub:object.stating_price  }} </h4>
                  </div>
    
                  {% if checkout.active %}
                  <div class="card-footer">
                    <h4>You have checkout..Your item will be shipped for any problem contact us!</h4>
                  </div>
                  {% else %}

                  <div class="card-footer">
                      <a href="#" class="btn btn-info" data-toggle="modal" data-target="#myModalcheck">Checkout</a>
                  </div>
                  {% endif %}


























                  {% elif request.user == object.user %}
                  <div class="card-body bg-success">
                      {% if current_price.current_price  %}
                        <h4>Your item auctioned  with ${{current_price.current_price}} bid</h4>
                        <hr>
                        <h4>Starting price was: ${{object.stating_price}}</h4>
                        {% else %}
                        <h4>No one bid for this item</h4>

                        {% endif %}
                      </div>
        
                      <div class="card-footer">

                        {% if object.active == True %}
                          

                          <form action="" method="POST">
                            {% csrf_token%}
                            {{post_form|crispy}}
                            <input class="btn btn-info" type="submit" value="Confirm">
                          </form>

                          {% elif object.active == False %}
                               {% if current_price.current_price  %}
                                  <H4 >For Transaction we will contact you shortly. If anything wrong 
                                    <span><a href="" class="btn btn-warning"> contact us</a></span>
                                  </H4>
                                  {% else %}
                                  <h4 class="bg-warning">You can post your item again for auction. Thanks</h4>
                                  {% endif%}

                              {% endif %}
                        
                      </div>

                      {% else %}
                      <h4>You lose this auction</h4>
    
                  {% endif %}
              </div>
            </div>
    
              {% endif %}
          </div>













                                      <!--MOdel area plz work-->
                                      <div class="modal fade" id="myModalcheck">
                                          <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                            
                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>
                                              
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                               
                            
                                <div class="row mb-4 " >
                                    
                                        <div class="col-md-8 order-md-1 offset-md-2 bg-white p-4" style="opacity: .9;">
                                          <h4 class="mb-3 text-center bg-info mt-2 p-2 text-light">CheckOut</h4>
                                          <form action="{% url 'checkout:c_create' %}" class="needs-validation" novalidate method="POST">
                                            {% csrf_token %}
                                          
                                    
                                            <div class="mb-3">
                                              <label for="username">Username</label>
                                              <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">@</span>
                                                </div>
                                                <input readonly name="username" type="text" class="form-control" id="username" value="{{current_price_user.user}}" placeholder="Username" required>
                                                <div class="invalid-feedback" style="width: 100%;">
                                                  Your username is required.
                                                </div>
                                              </div>
                                            </div>
                            
                                            <div class="mb-3">
                                                <label for="username">Product Name</label>
                                                <div class="input-group">
                                                  
                                                  <input readonly name="p_name" type="text" class="form-control" id="username" placeholder="Product name" value="{{object.title}}" required>
                                                  <div class="invalid-feedback" style="width: 100%;">
                                                    Your username is required.
                                                  </div>
                                                </div>
                                              </div>
                                    
                                            <div class="mb-3">
                                              <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                              <input name="email" type="email" class="form-control" id="email" value="{{current_price_user.user.email}}" placeholder="you@example.com">
                                              <div class="invalid-feedback">
                                                Please enter a valid email address for shipping updates.
                                              </div>
                                            </div>
                                    
                                            <div class="mb-3">
                                              <label for="address">Address</label>
                                              <input name="address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                                              <div class="invalid-feedback">
                                                Please enter your shipping address.
                                              </div>
                                            </div>
                                    
                                            <div class="mb-3">
                                              <label for="address2">Phone<span class="text-muted"></span></label>
                                              <input name="phone" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                            </div>
                            
                                            <div class="mb-3">
                                                <label for="address2">City<span class="text-muted"></span></label>
                                                <input name="city" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                              </div>
                                   
                                              
                                              <div class="mb-3">
                                                  <label for="address2">Zip<span class="text-muted"></span></label>
                                                  <input name="zip" type="number" class="form-control" id="address2" placeholder="Apartment or suite">
                                                </div>
                                       
                                   
                                            <hr class="mb-4">
                                           
                                          
                                            <hr class="mb-4">
                                    
                                            <h4 class="mb-3">Payment</h4>
                                    
                                            <div class="d-block my-3">
                                              <div class="custom-control custom-radio">
                                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                                <label class="custom-control-label" for="credit">Credit card</label>
                                              </div>
                                              <div class="custom-control custom-radio">
                                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                                <label class="custom-control-label" for="debit">Debit card</label>
                                              </div>
                                              <div class="custom-control custom-radio">
                                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                                <label class="custom-control-label" for="paypal">PayPal</label>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6 mb-3">
                                                <label for="cc-name">Name on card</label>
                                                <input name="card_name" type="text" class="form-control" id="cc-name" placeholder="" required>
                                                <small class="text-muted">Full name as displayed on card</small>
                                                <div class="invalid-feedback">
                                                  Name on card is required
                                                </div>
                                              </div>
                                              <div class="col-md-6 mb-3">
                                                <label for="cc-number">Credit card number</label>
                                                <input name="card_no" type="number" class="form-control" id="cc-number" placeholder="" required>
                                                <div class="invalid-feedback">
                                                  Credit card number is required
                                                </div>
                                              </div>
                                            </div>
                                         
                                            <hr class="mb-4">
                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                                          </form>
                                        </div>
                            </div>
                            
                            
                                              </div>
                                              
                                              <!-- Modal footer -->
                                             
                                              
                                            </div>
                                          </div>
                                        </div>
                            
                                        <!--ending modal area plz work-->






          <div class="row mt-5">
        <div class="col-md-12 nav-link-wrap">
          <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true"><i class="fas fa-info-circle"></i> Description</a>
        
            <a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false"><i class="fas fa-exclamation-triangle"></i> Rules</a>

            <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false"><i class="fas fa-id-card-alt"></i> Activity Log</a>

          </div>
        </div>
        
        <div class="col-md-12 tab-wrap">
          
          <div class="tab-content bg-light" id="v-pills-tabContent">

            <div class="tab-pane fade show active" style="color:black !important;" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="p-4">
                    <h3 class="mb-4">{{object.title}}</h3>
                    <p>{{object.description | safe | linebreaks}}</p>
                </div>
            </div>

            <div class="tab-pane fade" style="color:black !important;" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                <div class="p-4">
                    <h3 class="mb-4">Rules for the bidding</h3>
                    {% if regular_rule %}
                              <p>{{regular_rule.description| safe | linebreaks}}</p>
                            {% endif%}
                    <!-- <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p> -->
                </div>
            </div>
            <!--Bidding activity log-->
            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                <div class="row p-4">
                        {% if bidder_post %}
                        {% for object in bidder_post %}
                        <div class="col-md-11">
                      <div class="card mb-4 mt-2 text-center">
                          <div class="card-header" style="background-color:rgb(21, 68, 68);">
                              
                                      <h4 class="text-light d-inline">{{object.product_title}}</h4>
        
                                      <span>
                                          <img width="10%" src="{{object.product_title.image.url}}" alt="">
                                      </span>
            
                             
                          </div>
            
                     
                          
                          <div class="card-body">
                             <p>You just bid <span class='text-danger'> <b> ${{object.bid_price}} </b> </span> and highest bid is <span class='text-info'> <b> ${{object.current_price}} </b> </span>   for this item @ <span class="text-success"> <b>{{object.timestamp|timesince}}</b> </span>  ago!!</p>
        
                             <!-- {% if object.current_price > } -->
        
        
        
        
        
                          </div>
        
                         
                         
                      </div>
                    </div>
            
                      {% endfor %}
        
                      {% else %}
        
                      <div class="col-md-12">
                          <div class="card text-center">
                              <div class="card-header bg-danger text-light">
                                <h4>No details available</h4>
                              </div>
                            </div>
        
                      </div>
        
                      
        
                      {% endif %}
                                
                   
                             </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>


{% endblock %}


{%block script %}

<script>
    // Set the date we're counting down to
    var a = '{{object.end_date|date:"M j, Y H:i:s"}}';
    var countDownDate = new Date(a).getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = '<b>'+ hours + "</b> h <b>"
      + minutes + "</b> m <b>" + seconds + "</b> s " + "left";
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>

{% endblock %}