{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %} Create {%endblock%}



{%block style %}

    <style>
            .card-header {
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: rgb(0, 0, 0);
                border-bottom: none;
            }

            .card{
                border: none;
                background-color:  #000000;
            }
/*
            #error_1_id_title,#error_1_id_description,#error_1_id_price,#error_1_id_stating_price{
                display:none;
              }

              */

              #id_image {
                background: rgb(155, 0, 0) !important;
                width: 100%;
            }

            .btn-custom {
                color: #fff;
                background-color: #000000;
                border-color: #ffffff;
            }
            .btn-custom:hover{
                color: #fff;
                background-color: #022b22;
                border-color: #ffffff;
            }

            .invalid-feedback {
                
                display: block !important;
            }

            .card-header{
                border-bottom: 2px solid white !important;
            }
    </style>

{% endblock %}




{% block content %}

<div class="container-fluid mb-5" style="margin-top:65px;">
    <div class="row ">
{% if billing %}

            {%if category %}

        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center text-white">
                    <h4 class="text-light" style="font-weight: bold;"><i class="fas fa-gavel"></i> Auction Item</h4>
                </div>
                <div class="card-body text-white ">

                        




                                <!-- The Modal -->
  <!-- <div class="modal fade" id="auctionModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content"> -->
          
            <!-- Modal Header -->
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
            
            <!-- Modal body -->
            <!-- <div class="modal-body">
              Modal body..
            </div> -->
            
            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div> -->



                        <form action="" method="POST"  enctype='multipart/form-data'>
                                {% csrf_token %}
                                {{form|crispy}}


                                <button style="width:100%;" type="button" class="btn btn-custom" data-toggle="modal" data-target="#auctionModal2">
                                        AUCTION
                                       </button>




                                       <div class="modal fade" id="auctionModal2">
                                            <div class="modal-dialog modal-sm">
                                              <div class="modal-content">
                                              
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                  <h4 style="width:100%" class="modal-title text-center">Are you sure?</h4>
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                <input style="width:100%;"  class="btn btn-success text-center" type="submit" value="AUCTION">
                              
                                                </div>
                                                
                                                <!-- Modal footer -->
                                                <!-- <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div> -->
                                                
                                              </div>
                                            </div>
                                          </div>
                          
                                <!-- <input style="width:100%;"  class="btn btn-danger text-center" type="submit" value="AUCTION"> -->
                            </form>
                </div>
            </div>
        </div>

        {% else %}

        <div class="col-md-12">
                <div class="card text-center">
                    <h4 class=" text-light">
                      <span><img  src="{% static 'new_home_static/images/tenor.gif' %}" alt=""></span>
                     <span class="badge badge-danger"><i class="fas fa-wrench"></i> Under construction <i class="fas fa-wrench"></i></span>
                      <span><img  src="{% static 'new_home_static/images/tenor.gif' %}" alt=""></span>
                    </h4>
      
                  </div>
             </div>


             {% endif %}






        {% else %}
        <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center text-light">
                        <h4 class="text-light">You Must have a address to post item</h4>
                        <a href="{% url 'billing:bill' %}" class="btn btn-info">Create Address</a>
                    </div>
                  
                </div>
            </div>




        {% endif %}

        
      

        </div>


</div>





{% endblock %}